.footer {
  background-image: url('./img/image_footer.png');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 161px;
  flex: 0 0 auto;
}

.footer__brand {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #000000;
}
 
.footer__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.footer__item {
    margin-right: 40px;
}

.footer__items {
    display: flex;
    list-style: none;
    padding: 0;
}

.footer__link {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
}
